{% extends "default.html" %}

{% block title %}Select Category{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mt-4">Available Quiz Categories</h1>
    <ul class="list-group">
        {% for category in categories %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ category.name }}
                <span class="badge badge-primary badge-pill">{{ category.questions_count }}</span>
                <button type="button" class="btn btn-primary ml-3" onclick="startQuiz({{ category.id }})">Start Quiz</button>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block scripts %}
<script>
    function startQuiz(categoryId) {
        window.location.href = `/quiz/${categoryId}`;
    }
</script>
{% endblock %}
