{% extends "base.html" %}

{% block title %}Select Quiz Category{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Select Quiz Category</h1>
    <ul class="list-group">
        {% for category in categories %}
            <li class="list-group-item">
                <a href="/quiz/{{ category.id }}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="/settings" class="btn btn-info mt-3">Settings</a>
    <a href="/edit" class="btn btn-primary mt-3">Edit Questions</a>
</div>
{% endblock %}
